<article>

    <h2>Welcome {{user.username}}!</h2>
    
    <label>Name</label> : {{user.firstName}} {{user.lastName}}<br/>
    <label>Profession</label> : {{user.profession}}<br/>
    <label>Bio</label> : {{user.bio}}<br/>
    
</article>
